@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.btn {
  background-color: rgba(255, 77, 166, 0.3);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
}


.btn:hover,
.btn.hover {
  background-color: rgb(255, 77, 166);
  border-radius: 5px;
  color: white;
}


